<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.comment %> <%= bookmark.movie.title %>
  <%# = link_to '❌ DELETE', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete?'}</li> %>
  <%= button_to '❌ DELETE', bookmark_path(bookmark), method: :delete %></li>
  <% end %>
</ul>
<%= link_to '✚ Add a new Bookmark', new_list_bookmark_path(@list.id) %>
<%= link_to '< Back to your lists', lists_path %>
